.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px;
}

.gridItem,
.gridItemFull {
  grid-column: 1 / -1;
}

@media screen and (min-width: $tablet) {
  .gridItem {
    grid-column: auto;
  }

  .gridItemFull {
    grid-column: 1 / -1;
  }
}

.gridItemContent {
  position: sticky;
  top: 0;
}

:global(.draft-mode) {
  .gridItemContent {
    position: static;
  }
}
