.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.gridItem,
.gridItemFull {
  grid-column: 1 / -1;
}

@media screen and (min-width: $tablet) {
  .gridItem {
    grid-column: auto;
  }

  .gridItemFull {
    grid-column: 1 / -1;
  }
}

.handle {
  position: relative;
}

.handle::before {
  content: '';
  display: block;
  background-color: transparent;
  position: absolute;
  top: -30px;
  left: 0px;
  z-index: 10000000;
  width: 100%;
  height: 30;
}
