---
import Layout from '@astro/layouts/layout.astro';
import { getProject } from '@astro/lib/sanity/queries/project';

// import type { SanityDocument } from '@sanity/client';
// import { loadQuery } from '../../sanity/lib/load-query';

// export async function getStaticPaths() {
//   const { data: posts } = await loadQuery<SanityDocument[]>({
//     query: `*[_type == "post"]`,
//   });

//   return posts.map(({ slug }) => {
//     return {
//       params: {
//         slug: slug.current,
//       },
//     };
//   });
// }

const { slug } = Astro.params;

if (!slug) throw Error('404');

const { data: project } = await getProject({ slug });

if (!project) throw Error('404');

export const prerender = false;
---

<Layout>
  <h1>A project about {project.name}</h1>
</Layout>
