---
import { stegaClean } from '@sanity/client/stega';

import { getSettings } from '@app/lib/sanity/queries/settings';

const { data: settings } = await getSettings();
---

<script>
  const hashPassword = window.location.hash.match(/^#password=(.*?)\s*$/);
  if (hashPassword) {
    localStorage.setItem('password', hashPassword[1]);
    history.replaceState(
      '',
      document.title,
      window.location.pathname + window.location.search
    );
    window.location.reload();
  }
</script>
<div style='display: none;' data-password={stegaClean(settings?.password)}>
  <slot />
</div>
<script is:inline data-astro-exec-always>
  (function () {
    const el = document.currentScript?.previousElementSibling;
    if (el) {
      const password = el.getAttribute('data-password') || undefined;
      const storedPassword = localStorage.getItem('password') || undefined;
      if (password === storedPassword) el.style.display = '';
    }
  })();
</script>
