.poster,
.posterImage {
  width: 100%;
  height: 100%;
}

.poster {
  object-fit: cover;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transform: scale(1.01);
}

.posterPlaying {
  transform: scale(1.1);
}
