---
import { markdown } from '@astropub/md';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
  content?: string;
  options?: Record<string, any>;
  naked?: boolean;
}

const { content, options, naked, ...rest } = Astro.props;

const parsed = content && (await markdown(content, options));
---

{parsed && (naked ? parsed : <div {...rest}>{parsed}</div>)}
